services:
  example-backend-app:
    image: docker.io/lukaszdutka/drogaprogramisty:example-backend-app
    container_name: myapp-backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ENVIRONMENT_VARIABLE_HELLO_NAME: ${ENVIRONMENT_VARIABLE_HELLO_NAME}
      SPRING_PROFILES_ACTIVE: prod
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.example-backend-app.rule=Host(`droga.cloud`)"
      - "traefik.http.routers.example-backend-app.entrypoints=websecure"
      - "traefik.http.routers.example-backend-app.service=example-backend-service"
      - "traefik.http.routers.example-backend-app.tls.certresolver=my-resolver"