name: Deploy Docker Image

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy docker-compose to VPS
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./docker-compose.prod.yml"
          target: "/home/${{ secrets.USERNAME }}/example-backend-app"

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "${{ secrets.DOCKER_TOKEN }}" | docker login docker.io -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            cd /home/${{ secrets.USERNAME }}/example-backend-app
            docker pull docker.io/${{ secrets.DOCKER_USERNAME }}/drogaprogramisty:example-backend-app
            
            export ENVIRONMENT_VARIABLE_HELLO_NAME="${{ secrets.DOCKER_USERNAME }}"
            
            docker compose -f docker-compose.prod.yml up -d --remove-orphans
